@import "../abstracts/mixins";
@import "../abstracts/variables";

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 93.75rem;
  margin: 0 auto;
  @include breakpoint-down(small) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  &__details {
    @include flex($align: flex-start, $dir: column);
    text-align: left;
    padding: 1rem;
    align-self: stretch;
    // border: 1rem $primary-color-dim solid;
  }
  .thumbnail-container {
    flex-grow: 1;
    height: 28.125rem;
    position: relative;
  }
}
