@import "../abstracts/mixins";
@import "../abstracts/variables";

.dish-list {
  @include flex(space-around, flex-start, wrap);
  .dish-item {
    border-radius: $border-radius;
    overflow: hidden;
    width: 18.125rem;
    max-width: 100%;
    box-shadow: $box-shadow;
    margin-bottom: $spacing2;
    .thumbnail-container {
      width: 100%;
      height: 10.9375rem;
      position: relative;
    }
    .details,
    .toolbar {
      padding: 1rem;
    }
    .details {
      .dish-name {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
    }

    .toolbar {
      @include flex(flex-end, center);
    }
  }
}
