@import "../abstracts/mixins";
@import "../abstracts/variables";

.header {
  @include flex($wrap: wrap);
  &__details {
    text-align: left;
    padding: 1rem;
    flex-basis: 50%;
  }
  .thumbnail-container {
    flex-grow: 1;
    flex-basis: 25rem;
    height: 28.125rem;
    position: relative;
  }
}
