:root {
  font-size: $font-size;
  font-family: $font-family;
  color: $primary-text-color;
}

p {
  line-height: 1.3rem;
}

h {
  &1 {
    font-size: 2rem;
    font-weight: bold;
  }
  &3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
